<ion-content class="page">
  <div class="bg-image"></div>
  <ion-row align-items-center class="column">

  	<img src="../../assets/bg-icon/icon/002-heartbeat.png" class="icon" margin>

  	<ion-row class="wrapper-for-title" align-items-center>
  	  <ion-icon name="arrow-back" class="icon-arrow" (click)="back()"></ion-icon>
  	  <div class="title-after-img" margin>Подтверждение регистрации</div>
      <ion-icon name="arrow-back" class="fake-icon-arrow"></ion-icon>
  	</ion-row>

  	<div class="wrapper-for-input">
  	  <ion-label position="fixed" class="custom-label">Введите код из СМС</ion-label>
  	  <ion-input class="custom-input"></ion-input>
	  </div>

    <div class="issue-button" margin>Не приходит СМС?</div>

	  <button margin class="button button-login" (click)="toggle()">ДАЛЕЕ</button>
  </ion-row>
</ion-content>