.title-after-img {
  margin: 0 auto;
  width: 70%;
  text-align: center;
  margin-bottom: 35px;
  font-size: 12pt;
  margin-top: 20px;
  font-weight: 600;
}

.wrapper-for-input {
  margin-bottom: 25px;
}

.issue-button {
  font-weight: 300;
  margin-bottom: 25px;
}