@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap&subset=cyrillic');
$light-blue-color: #60DAFF;
$grey-color: #7B7B7B;
$font-family-base: 'Montserrat';

.title-after-img {
  margin: 0 auto;
  width: 70%;
  text-align: center;
  margin-bottom: 35px;
  font-size: 12pt;
  margin-top: 20px;
  font-weight: 600;
}

.wrapper-for-input {
  margin-bottom: 25px;
}

.issue-button-resend {
  color: white;
  font-weight: normal;
  font-size: 9pt;
  text-decoration: underline;
  font-family: $font-family-base;
  --background: transparent;
  --border: none !important;
  outline: none;
  min-height: 5px;
}

.issue-button-resend:active {
  --background: transparent;
}
