 <ion-content class="page">
  <div class="bg-image"></div>
  <ion-row align-items-center class="column">

  	<img src="../../assets/bg-icon/icon/002-heartbeat.png" class="icon" margin>

  	<ion-row class="wrapper-for-title" align-items-center>
  	  <!-- <ion-icon name="arrow-back" class="icon-arrow"></ion-icon> -->
  	  <div class="title-after-img" margin>Регистрация</div>
  	</ion-row>

  	<div class="wrapper-for-input">
  	  <ion-label position="fixed" class="custom-label">Имя</ion-label>
  	  <ion-input class="custom-input"></ion-input>
	</div>

	<div class="wrapper-for-input">
  	  <ion-label position="fixed" class="custom-label">Номер телефона</ion-label>
  	  <ion-input class="custom-input"></ion-input>
	</div>

	<div class="wrapper-for-input">
  	  <ion-label position="fixed" class="custom-label">Пароль</ion-label>
  	  <ion-input class="custom-input"></ion-input>
	</div>

	<div class="wrapper-for-input">
  	  <ion-label position="fixed" class="custom-label">Подтвердить пароль</ion-label>
  	  <ion-input class="custom-input"></ion-input>
	</div>

	<button margin class="button button-login">ПРОДОЛЖИТЬ</button>
  </ion-row>
 </ion-content>