 <ion-content class="page">
  <div class="bg-image"></div>
  <ion-row align-items-center class="column">

  	<img src="../../assets/bg-icon/icon/002-heartbeat.png" class="icon" margin>

  	<ion-row class="wrapper-for-title" align-items-center>
  	  <ion-icon name="arrow-back" class="icon-arrow" (click)="back()"></ion-icon>
  	  <div class="title-after-img" margin>Регистрация</div>
      <ion-icon name="arrow-back" class="fake-icon-arrow"></ion-icon>
  	</ion-row>

  	<div class="wrapper-for-input">
  	  <ion-label position="fixed" class="custom-label">Имя</ion-label>
  	  <ion-input class="custom-input" [(ngModel)]="data.name"></ion-input>
	</div>

	<div class="wrapper-for-input">
  	  <ion-label position="fixed" class="custom-label">Номер телефона</ion-label>
  	  <ion-input class="custom-input" [(ngModel)]="data.phone"></ion-input>
	</div>

	<div class="wrapper-for-input">
  	  <ion-label position="fixed" class="custom-label">Пароль</ion-label>
  	  <ion-input class="custom-input" type="password" [(ngModel)]="data.password"></ion-input>
	</div>

	<div class="wrapper-for-input">
  	  <ion-label position="fixed" class="custom-label">Подтвердить пароль</ion-label>
  	  <ion-input class="custom-input" type="password" [(ngModel)]="data.password_confirm"></ion-input>
	</div>

	<button margin class="button button-login" (click)="signUp()">ПРОДОЛЖИТЬ</button>
  </ion-row>
 </ion-content>