<ion-header>
  <ion-toolbar>
  	<div class="wrapper-for-header">
  	  <ion-buttons slot="start" (click)="back()">
  	    <img src="../../assets/bg-icon/chevron-left.png" class="header-image">
  	  </ion-buttons>
      <ion-title>МКБ 10</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button color="light">
          <img src="../../assets/bg-icon/018-menu.png">
        </ion-menu-button>
      </ion-buttons>
	</div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper-for-content" *ngIf="illness">

    <div class="wrapper-for-illness">
        <div class="text" margin *ngIf="illness.code">{{illness.code}}</div>
        <div class="text" margin *ngIf="illness.name">{{illness.name}}</div>
        <div class="text" margin *ngIf="illness.additional_info">{{illness.additional_info}}</div>
    </div>

  </div>
</ion-content>