<ion-content>
  <div class="wrapper-for-content">
  	<img src="../../assets/bg-icon/002-big-heartbeat.png" class="image">
  	
    <div class="content">
      <div class="title">МКБ 10</div>
      <div class="information">
      	<div class="description">Международная статическая класификация болезней и проблем, связанных со здоровьем</div>
      	<div class="line"></div>
      	<div class="other-information">Десятый пересмотр</div>
      </div>
    </div>

    <div class="footer">
      <img src="../../assets/bg-icon/WHO_Logo_c300.png">
      <div class="wrapper-for-contacts">
      	<div class="contact-who">Всемирная организация здравоохранения</div>
      	<div class="contact-where">Женева</div>
      </div>
    </div>

  </div>
</ion-content>
