<ion-content class="page">
  <div class="bg-image"></div>
  <ion-row align-items-center class="column">

  	<img src="../../assets/bg-icon/icon/002-heartbeat.png" class="icon" margin>

  	<div class="title-after-img" margin>Вход</div>

  	<div margin>
  	  <ion-label position="fixed" class="custom-label">Номер телефона</ion-label>
  	  <ion-input class="custom-input"></ion-input>
	</div>

	<div margin>
  	  <ion-label position="fixed" class="custom-label">Введите пароль</ion-label>
  	  <ion-input class="custom-input"></ion-input>
	</div>

	<div class="forget-password-button" margin>Забыли пароль?</div>

	<button margin class="button button-login">ВХОД</button>
	<button margin class="button button-signup">РЕГИСТРАЦИЯ</button>
  </ion-row>
</ion-content>
