<ion-header>
  <ion-toolbar>
  	<div class="wrapper-for-header">
  	  <ion-buttons slot="start">
  	    <ion-menu-button color="light">
  	      <ion-icon name="arrow-back" class="button-menu"></ion-icon>
  	    </ion-menu-button>
  	  </ion-buttons>
	  <ion-title>МКБ 10</ion-title>
	  <div class="fake-item"></div>
	</div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper-for-content" *ngIf="username">
  	<div class="wrapper-for-data">
  	  <div class="username" *ngIf="username">{{username}}</div>
  	  <img src="../../assets/bg-icon/003-health.png">
  	  <div class="wrapper-for-points">
  	  	<div class="count-point">{{total}}</div>
  	    <div class="title-point">Баллов</div>
  	  </div>
  	</div>
  	<div class="wrapper-for-history">
  	  <div class="title-history">История</div>

  	  <div class="item-of-history" *ngFor="let point of points">
  	  	<div class="wrapper-for-points-data">
  	      <div class="date-and-points">
  	        <div class="date">
			  {{point.date.slice(8, 10)}}.{{point.date.slice(5, 7)}}.{{point.date.slice(0, 4)}}
			</div>
			<div class="date">
			  {{point.date.slice(11, 19)}}
			</div>
			<div class="points">
			  <div class="add-point">+{{point.added}}</div>
			  <div class="rm-point">-{{point.removed}}</div>
			</div>
  	      </div>
  	      <div class="current-points">{{point.total}}</div>
  	  	</div>
  	  </div>

	</div>
  </div>
</ion-content>
