<ion-header>
  <ion-toolbar>
  	<div class="wrapper-for-header">
  	  <ion-buttons slot="start">
  	    <ion-menu-button color="light">
  	      <ion-icon name="arrow-back" class="button-menu"></ion-icon>
  	    </ion-menu-button>
  	  </ion-buttons>
      <ion-title>МКБ 10</ion-title>
	</div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper-for-content">
  	<div class="wrapper-for-data">
  	  <div class="username">Maxim</div>
  	  <img src="../../assets/bg-icon/003-health.png">
  	  <div class="wrapper-for-points">
  	  	<div class="count-point">75</div>
  	    <div class="title-point">Баллов</div>
  	  </div>
  	</div>
  	<div class="wrapper-for-history">
  	  <div class="title-history">История</div>

  	  <div class="item-of-history">
  	  	<div class="wrapper-for-points-data">
  	      <div class="date-and-points">
  	        <div class="date">05.06.19</div>
  	        <div class="points">+25</div>
  	      </div>
  	      <div class="current-points">75</div>
  	  	</div>
  	  </div>

  	  <div class="item-of-history">
  	  	<div class="wrapper-for-points-data">
  	      <div class="date-and-points">
  	        <div class="date">05.06.19</div>
  	        <div class="points">+25</div>
  	      </div>
  	      <div class="current-points">50</div>
  	  	</div>
  	  </div>

  	  <div class="item-of-history">
  	  	<div class="wrapper-for-points-data">
  	      <div class="date-and-points">
  	        <div class="date">05.06.19</div>
  	        <div class="points">+25</div>
  	      </div>
  	      <div class="current-points">25</div>
  	  	</div>
  	  </div>

  	</div>
  </div>
</ion-content>
